<div class="topheader">
    <header class="top-banner">
        <a href="" class="logo" style="margin-right: auto;">
            <img src="/images/template.jpg">
        </a>

        <nav class="navbuttons">
            <ul>
                <li><a href="/" class="navbutton">Home</a></li>
                <!-- <li><a href="/topsongs" class="navbutton">Top Songs</a></li> -->
            </ul>
        </nav>

        <input type="text" placeholder="Search for songs" class="searchbar" id="search">

        <div class="usercluster">
            <img src="/images/template.jpg" id="userpfp">
            <nav class="userbuttons">
                <button class="userbutton">
                    <a href="/djprofile">Profile</a>
                </button>
                <button class="userbutton">
                    <a href="/djsettings">Settings</a>
                </button>
            </nav>
        </div>
    </header>
</div>