<!-- navigation.ejs -->
<ul>
    <li><a href="/djhome">Home</a></li>
    <li><a href="/djprofile">Profile</a></li>
    <li><a href="/djsettings">Settings</a></li>
    <li><a href="/edit">Edit</a></li>
    <li><a href="/login">Login</a></li>
</ul>