<!-- navigation.ejs -->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/djprofile">Profile</a></li>
    <li><a href="/djsettings">Settings</a></li>
    <!-- <li><a href="/topsongs">TopSongs</a></li> -->
    <li><a href="/login">Login</a></li>
</ul>